@using MefistoTheatre.ViewModels.Blog
@model IEnumerable<BlogViewModel>

@{
    ViewData["Title"] = "Blog";
}

@foreach (var post in Model)
{
    <article>
        <h2 class="mb-1">@post.Title</h2>
        <p class="text-muted">@post.PublishedAt by <a href="#">@post.AuthorName</a></p>
        <p>@post.Summary</p>
    </article>
    <hr />
}
