@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to contact us.</p>

<ul class="list-group col-md-6">
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <div>
                <i class="fa-solid fa-envelope"></i>  Email
            </div>
            <h5>Admin@Mefisto.com</h5>
        </div>
    </li>
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <div>
                <i class="fa-solid fa-house"></i>  Address
            </div>
            <h5>Streetname, Glasgow, G8</h5>
        </div>
    </li>
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <div>
                <i class="fa-solid fa-phone"></i>  Phone
            </div>
            <h5>01234 789012</h5>
        </div>
    </li>
</ul>