@{
    ViewData["Title"] = "Welcome";
}

<main>
    <div class="p-5 mb-4 row">
        <div class="container-fluid py-4 col-md-8">
            <h1 class="display-5 fw-bold">Welcome to Mefisto Theatre!</h1>
            <p class="col-md-8 fs-4">We are a community of theatre enthusiasts, here to share our love and passion for the stage. Whether you're a seasoned veteran or new to the world of theatre, we have something for everyone.</p>
            <a asp-controller="Blog" asp-action="Index" class="btn btn-primary">View Blog</a>
        </div>
        <img src="./images/logo.png" class="h-100 col-sm-4" alt="Mefisto logo main">
    </div>
    <p>Our blog features reviews and analysis of the latest productions, interviews with industry professionals, and behind-the-scenes looks at what goes into making a show. We also cover lesser-known productions, so you'll always be in the know about what's happening in the theatre world.</p>
    <p>Join our community and stay up-to-date on the latest productions, events, and discussions by signing up for our newsletter.</p>
    <p>Don't miss out on the drama, the excitement, and the magic of the theatre. Join Mefisto Theatre today!</p>
</main>