@using MefistoTheatre.ViewModels.Post
@model PostCreateViewModel

@{
    ViewData["Title"] = "Add Post";
}

<h1>Add New Post</h1>
<hr />

<form method="post">
    <div class="row">
        <div class="col-md-8">
            <div class="mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Enter Post Title..."/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" placeholder="Enter Summary..."/>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>

            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" id="mytextarea"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <div class="row g-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa-solid fa-upload"></i> Publish
                        </div>
                        <div class="card-body">
                            <p class="card-text">If the post is not ready to be added to the blog select "Save Draft". If the post is ready select "Send for Review" and the post will be sent to the editors. If the article is approved, it will be made visible on the website.</p>
                        </div>
                        <div class="card-footer">
                            <button type="submit" name="buttonValue" value="save" class="btn btn-success">Save Draft</button>
                            <button type="submit" name="buttonValue" value="review" class="btn btn-primary float-end">Submit for review</button>
                        </div>
                    </div>
                </div>
                <div class="col md-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa-solid fa-book"></i> Category
                        </div>
                        <div class="card-body">
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                            @foreach(Category category in Model.Categories!){
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" asp-for="CategoryId" value="@category.CategoryId">
                                    <label class="form-check-label" asp-for="CategoryId">@category.CategoryName</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section HeadScripts {
    <script src="/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            menubar: false,
            promotion: false,
            branding: false,
        });
    </script>
}